.webcam-container {
  position: fixed; /* makes it float over the page */
  bottom: 20px; /* move up from bottom */
  right: 5px; /* move left from right */
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 1000;
}

.webcam-wrapper {
  overflow: hidden;
  width: 170px;
  height: 125px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  border-radius: 8px;
  border: 2px solid var(--border-color);
}

.loading-overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  z-index: 10;
}

.webcam {
  width: 220px;
  height: 220px;
  object-fit: contain;
  border-radius: 8px;
}

.webcam.hide {
  display: none;
}

.webcam.show {
  display: block;
}

.capture-button {
  margin-top: 5px;
  padding: 7px 12px;
  font-size: 14px;
  border-radius: 10px;
  border: none;
  min-width: 180px;
  font-weight: bold;
  transition: background-color 0.3s, transform 0.2s;
}

.capture-button.active {
  background-color: #4caf50;
  color: white;
  cursor: pointer;
}

.capture-button.disabled {
  background-color: #ccc;
  color: white;
  cursor: not-allowed;
}
