.add-user-container {
  width: 100%;
  font-family: var(--font-family-brooklyn);
}

.add-user-c {
  display: flex;
  justify-content: center;
  align-items: center;
}

.form-section h2 {
  font-size: 1.8rem;
  font-weight: 500;
  text-align: center;
}

.form-section .highlight {
  color: green;
  font-weight: bold;
}

/* Form Fields */
/* .user-form {
  display: flex;
  flex-direction: column;
} */

.user-form input,
.user-form select {
  padding: 1em 1.5em;
  font-size: 15px;
  /* border: 1px solid #ccc; */
  border-radius: 6px;
  width: 400px;
  background-color: #f8f8f8;
  transition: border-color 0.3s ease;
}

.user-form input:focus,
.user-form select:focus {
  border-color: green;
  outline: none;
  background-color: #fff;
}

/* Submit button */
.user-form button {
  width: 400px;
  background-color: green;
  color: white;
  border: none;
  padding: 0.9rem;
  font-size: 1rem;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.user-form button:hover {
  background-color: #007f00;
}
