.coding-result-container {
  max-width: 95vw;
  margin: 1rem auto;
  /* padding: 1.5rem; */
  font-family: var(--font-family-brooklyn);
}

.coding-result-header h2 {
  text-align: center;
  font-size: 1.8rem;
  margin-bottom: 1rem;
  color: var(--text-color);
  padding-bottom: 10px;
}

.coding-card {
  border: 1px solid var(--border-color);
  border-radius: 12px;
  padding: 1.5rem;
  margin-bottom: 2rem;
  display: flex;
  flex-direction: column;
  gap: 10px;
  background-color: var(--main-bg-color);
}

.coding-problem-title {
  font-size: 1.25rem;
  margin-bottom: 0.5rem;
  color: #1f2937;
}

.coding-card h3 {
  padding: 0;
}

.coding-applicant,
.coding-status {
  font-size: 0.95rem;
  margin-bottom: 0.5rem;
}

.coding-code-label {
  margin-top: 1rem;
  font-weight: 600;
}

.coding-code {
  background-color: #f5f5f5;
  padding: 12px;
  border-radius: 6px;
  overflow-x: auto;
  font-family: "Courier New", Courier, monospace;
  margin-bottom: 1rem;
}

.coding-table-responsive {
  overflow-x: auto;
}

.coding-test-table {
  width: 100%;
  border-collapse: collapse;
  /* margin-top: 1rem; */
}

.coding-test-table th {
  background-color: #f3f4f6;
  padding: 10px;
  font-weight: 600;
  font-size: 0.95rem;
  border-bottom: 1px solid #ccc;
  text-align: left;
}

.coding-test-table td {
  padding: 8px 10px;
  font-size: 0.9rem;
  border-bottom: 1px solid #eee;
}

.test-pass {
  background-color: #d4edda;
}

.test-fail {
  background-color: #f8d7da;
}
