.footer {
  width: 100%;
  height: 45vh;
  background-color: #f8f8f8;
  font-family: sans-serif;
  color: var(--text-color);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px 40px;
  font-family: var(--font-family-brooklyn);
  font-size: 0.9rem;
}

.footer__top {
  text-align: center;
  font-size: 0.9rem;
}

.footer__highlight {
  color: #2ea043;
  font-weight: bold;
}

.footer__top p {
  margin-top: 10px;
  font-size: 0.99rem;
  color: #555;
}

.footer__cta {
  margin-top: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
}

.footer__button {
  background-color: var(--subheader-color);
  color: #fff;
  border: none;
  padding: 10px 20px;
  font-size: 1rem;
  border-radius: 24px;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 8px;
}

.footer__dot {
  height: 8px;
  width: 8px;
  background-color: #2ea043;
  border-radius: 50%;
}

.footer__linkedin {
  background-color: #2ea043;
  color: #fff;
  padding: 10px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
}

.footer__divider {
  border: none;
  border-top: 1px solid #ccc;
  margin: 10px 0;
}

.footer__nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  font-weight: 500;
}

.footer__nav ul {
  list-style: none;
  display: flex;
  gap: 20px;
  padding: 0;
  margin: 0;
  cursor: pointer;
}

.footer__privacy {
  color: #555;
  cursor: pointer;
}

.footer__bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer__scroll-top {
  color: #2ea043;
  font-size: 18px;
  cursor: pointer;
}
