.app-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  font-family: Arial, sans-serif;
}

.dashboard-section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.welcome-text {
  font-size: 1.8rem;
  color: #333;
  margin-bottom: 15px;
}

.dashboard-image {
  height: 82vh;
  width: 90vw;
  object-fit: cover;
  border-radius: 8px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.15);
}

.team-section {
  margin-top: 10px;
}

.home_container {
  font-family: var(--font-family-brooklyn);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.home_sub {
  font-size: 2rem;
}

.home_p {
  font-size: 1rem;
  padding-bottom: 10px;
}
