.send-link-container {
  font-family: var(--font-family-brooklyn);
}

.send-link-title {
  text-align: center;
}

.send-link-form-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* Scoped form */
.send-link-form {
  width: 400px;
}

/* Scoped input */
.send-link-input {
  border-radius: 6px;
  margin: 8px 0;
  padding: 1em 1.5em;
  font-size: 14px;
  border: none;
  border-bottom: 1px solid #999;
  background-color: #f7f7f7;
  outline: none;
  transition: border-bottom 0.3s ease;
}

.send-link-input:focus {
  border-bottom: 2px solid green;
}

/* Scoped button */
.send-link-button {
  margin-top: 16px;
  padding: 12px;
  font-size: 16px;
  color: white;
  background-color: #28a745;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background 0.3s ease;
}

.send-link-button:hover {
  background-color: #218838;
}
