.coding-questions-container {
  font-family: var(--font-family-brooklyn);
}

.coding-platform {
  margin-top: 50px;
}

.coding-questions-container h1 {
  text-align: center;
  margin-bottom: 10px;
}

.filters {
  font-family: var(--font-family-brooklyn);
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-bottom: 20px;
}

.filters input,
.filters select {
  padding: 8px 12px;
  border-radius: 5px;
  border: 1px solid #ccc;
  font-family: var(--font-family-brooklyn);
}

.loading,
.no-results {
  text-align: center;
  font-size: 1.2rem;
}

.problems-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: center;
  align-items: center;
}

.problem-card {
  width: 1000px;
  background: white;
  padding: 15px;
  border: 1.5px solid var(--border-color);
  border-radius: 8px;
  position: relative;
}

.problem-card h2 {
  margin-top: 0;
}

.problem-card .key {
  font-size: 0.9rem;
  color: #555;
}

.problem-card .description {
  font-size: 0.95rem;
  margin: 8px 0;
}

.problem-card ul {
  padding-left: 20px;
}

.difficulty {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 0.85rem;
  padding: 4px 8px;
  border-radius: 4px;
  color: white;
  text-transform: capitalize;
}

.difficulty.easy {
  background-color: #28a745;
}

.difficulty.medium {
  background-color: #ffc107;
  color: #000;
}

.difficulty.hard {
  background-color: #dc3545;
}
