.clean-team-container {
  text-align: center;
  font-family: var(--font-family-brooklyn);
}

.clean-team-title {
  font-size: 2rem;
  font-weight: 600;
  color: var(--subheader-color);
  padding-bottom: 1rem;
}

.clean-team-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  justify-content: center;
}

.clean-team-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 220px;
  background: transparent;
  transition: transform 0.3s ease;
}

.dev_name {
  padding-bottom: 0.5em;
}

.clean-team-card:hover {
  transform: translateY(-8px);
}

.clean-image-wrapper {
  width: 180px;
  height: 180px;
  margin: 0 auto 1rem;
  border-radius: 50%;
  overflow: hidden;
  border: 3px solid #22c55e; /* green ring */
  background: #111;
}

.clean-image-wrapper img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.clean-team-card h3 {
  font-size: 1.1rem;
  font-weight: 600;
  color: #111827;
}

.clean-team-card p {
  font-size: 0.95rem;
  color: #4b5563;
}

/* Responsive */
@media (max-width: 768px) {
  .clean-team-card {
    width: 80%;
  }

  .clean-image-wrapper {
    width: 140px;
    height: 140px;
  }
}
